{{>navbar}}
<section class="banner"></section>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>

<section class="container top-categories">
    <h1 class="title">Categorias Destacadas</h1>
    <div class="container-categories">
        <div class="card-category category-interior">
            <p>Facil cuidado</p>
            <span>Ver más</span>
        </div>
        <div class="card-category category-exterior">
            <p>Flores</p>
            <span>Ver más</span>
        </div>
        <div class="card-category category-suculentas">
            <p>suculentas</p>
            <span>Ver más</span>
        </div>
    </div>
</section>

<div class="plantas">
    <h1 class="title">Plantas Destacadas</h1>
</div>

<div class="container">

    <div class="card">
        <img src="https://estag.fimagenes.com/img/1/d/T/0/dT0_1024.jpg" alt="">
        <h4>Palmera Chamaedorea</h4>
    </div>

    <div class="card">
        <img src="https://cdn.create.vista.com/api/media/small/199640592/stock-photo-selective-focus-schefflera-branches-green"
            alt="">
        <h4>scheflera araliacea</h4>
        <p></p>
    </div>

    <div class="card">
        <img src="https://i.etsystatic.com/21427386/r/il/359b3f/3625175308/il_340x270.3625175308_5v69.jpg" alt="">
        <h4>ficus altissima</h4>
        <p></p>
    </div>

    <div class="card">
        <img src="https://c0.wallpaperflare.com/preview/252/696/940/glasgow-united-kingdom-glasgow-botanic-gardens-large.jpg"
            alt="">
        <h4>Monstera</h4>
        <p></p>
    </div>

    <div class="card">
        <img src="https://media.istockphoto.com/id/1359561042/es/foto/hermosos-helechos-boston-en-maceta-o-planta-de-interior-green-lady-en-piso-por-pared-de.jpg?s=612x612&w=0&k=20&c=3YFIPNlK9AKWjvNI6szTFdbjdbV7wrPtDYpJtGhNtf4="
            alt="">
        <h4>Helecho Boston</h4>
        <p></p>
    </div>

    <div class="card">
        <img src="https://verdecora.es/blog/wp-content/uploads/2021/12/maranta-leuconera.jpg.webp" alt="">
        <h4>Maranta</h4>
        <p></p>
    </div>

    <div class="card">
        <img src="https://media.istockphoto.com/id/1437664042/photo/ficus-alii.jpg?s=612x612&w=0&k=20&c=COX2AYYmr8uoCKRElZiVdORnEtJdVjrEsmk2hKBG7WQ="
            alt="">
        <h4>Ficus Alli</h4>
        <p></p>
    </div>

</div>

<section class="blogs">
    <h1 class="title">Últimos Blogs</h1>

    <div class="container-blogs">

        <div class="card-blog">
            <div class="container-img">
                <img src="https://www.serpar.gob.pe/wp-content/uploads/2021/03/Remueve-el-sustrato-1024x681.jpg" />
                <div class="button-group-blog">
                    <span>
                        <i class="fa-solid fa-share-from-square"></i>
                    </span>
                </div>
            </div>
            <div class="content-blog">
                <h3>Como podar nuestras plantas</h3>
                <span>17 Mayo 2023</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Iste, molestiae! Ratione et, dolore ipsum
                    quaerat iure illum reprehenderit non maxime amet dolor
                    voluptas facilis corporis, consequatur eius est sunt
                    suscipit?
                </p>
                <div class="btn-read-more">Leer más</div>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img
                    src="https://www.aboutespanol.com/thmb/lMCa8wvBNugjmZe2fSYijkoc2VY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/powdery-mildew-resized-56a6d3235f9b58b7d0e4fe94.jpg" />
                <div class="button-group-blog">
                    <span>
                        <i class="fa-solid fa-share-from-square"></i>
                    </span>
                </div>
            </div>
            <div class="content-blog">
                <h3>Hongos y como prevenirlos</h3>
                <span>07 Mayo 2023</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Iste, molestiae! Ratione et, dolore ipsum
                    quaerat iure illum reprehenderit non maxime amet dolor
                    voluptas facilis corporis, consequatur eius est sunt
                    suscipit?
                </p>
                <div class="btn-read-more">Leer más</div>
            </div>
        </div>

        <div class="card-blog">
            <div class="container-img">
                <img
                    src="https://media.revistaad.es/photos/60c22b879ae22619e08755ee/4:3/w_1724,h_1293,c_limit/225024.jpg" />
                <div class="button-group-blog">
                    <span>
                        <i class="fa-solid fa-share-from-square"></i>
                    </span>
                </div>
            </div>
            <div class="content-blog">
                <h3>Como identificar plantas</h3>
                <span>28 Febrero 2023</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Iste, molestiae! Ratione et, dolore ipsum
                    quaerat iure illum reprehenderit non maxime amet dolor
                    voluptas facilis corporis, consequatur eius est sunt
                    suscipit?
                </p>
                <div class="btn-read-more">Leer más</div>
            </div>
        </div>

    </div>

</section>


<footer>

    <div class="footer-content">
        <h3>HomeGardenPro</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sed reiciendis exercitationem eius</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>

    <div class="footer-bottom">
        <p>copyright &copy;2023 HomeGardenPro</p>
    </div>

</footer>