<div class="grid-container">

    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="sidebar-title">
            <div class="sidebar-brand">PLANTA 3</div>
        </div>
        <h4>Agregar aqui una clase centrada que nos diga el nombre de la planta, ademas hay que centrar el titulo de
            arriba y tambien hacerlo un poco mas grande, este texto o lo que vaya aqui tambien tiene que ser más grande
            y lo
            que este debajo puede ser como de este tamaño
        </h4>
        <a href="/">Volver</a>
    </aside>
    <!-- End Sidebar -->

    <!-- Main -->
    <main class="main-container">
        <div class="main-title">
            <h2>Mis Plantas</h2>
        </div>

        <div class="main-cards">

            <div class="cardz">
                <h1>Planta 1</h1>
            </div>

            <div class="cardz">
                <h1>Planta 2</h1>
            </div>

            <div class="cardz">
                <h1>Planta 3</h1>
            </div>

            <div class="cardz">
                <h1>Planta 4</h1>
            </div>

        </div>

        <div class="charts">

            <div class="charts-card">
                <h2 class="chart-title">Top 5 Products</h2>
                <div id="bar-chart"></div>
            </div>

            <div class="charts-card">
                <h2 class="chart-title">Top 5 Products</h2>
                <div id="bar-chart2"></div>
            </div>

        </div>

        <div class="charts-large">

            <div class="charts-card">
                <h2 class="chart-title">Purchase and Sales Orders</h2>
                <div id="area-chart"></div>
            </div>

        </div>
    </main>
    <!-- End Main -->
</div>



<!-- Scripts -->
<!-- ApexCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="/js/graficos.js"></script>