<section class="banner"></section>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>

{{>navbar}}

<section class="homegardenpro">
    <h2>HomeGardenPro</h2>
    <div class="homegardenpro-contenido">
        <div class="homegardenpro-texto">
            <h3>La mejor alternativa para el cuidado y monitorieo de tus plantas</h3>
            <div class="homegardenpro-texto-contenido">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, placeat itaque! Atque, est
                    facilis quae reprehenderit molestias deserunt. Neque qui nemo id corporis accusamus cupiditate
                    repellendus, officiis necessitatibus iusto exercitationem? Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Molestiae quasi distinctio ipsa, vero facere aliquam earum,
                    officiis est, eveniet voluptate nam soluta alias commodi ut suscipit molestias maxime
                    asperiores! Odio.</p>
            </div>
            <div class="homegardenpro-texto-button" onclick="window.location.href = 'index.html'">Leer más sobre
                nosotros</div>
        </div>
        <div class="homegardenpro-img">
            <img src="https://cloudfront-us-east-1.images.arcpublishing.com/copesa/BJR47U2GXRCFZFOAZH55MXUITE.jpg"
                alt="">
        </div>
    </div>
</section>


<div class="plantas">


    <h1 class="title">Nuestros productos</h1>

    <div class="container">


        <div class="card-tienda">
            <img src="https://estag.fimagenes.com/img/1/d/T/0/dT0_1024.jpg" alt="">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4>HomeGardenPro C-3PO</h4>
            <div class="comprar">
                <div class="half izq">
                    <h2 class="price">$19.990<span>$23.990</span></h2>
                </div>
                <div class="half der">
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                </div>

            </div>
        </div>

        <div class="card-tienda">
            <img src="https://estag.fimagenes.com/img/1/d/T/0/dT0_1024.jpg" alt="">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
            </div>
            <h4>HomeGardenPro R2D2</h4>
            <div class="comprar">
                <div class="half izq">
                    <h2 class="price">$14.990<span>$16.990</span></h2>
                </div>
                <div class="half der">
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                </div>

            </div>
        </div>

        <div class="card-tienda">
            <img src="https://estag.fimagenes.com/img/1/d/T/0/dT0_1024.jpg" alt="">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <h4>HomeGardenPro BB-8</h4>
            <div class="comprar">
                <div class="half izq">
                    <h2 class="price">$29.900<span>$34.990</span></h2>
                </div>
                <div class="half der">
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                </div>

            </div>
        </div>

    </div>
</div>


<section class="gallery">
    <img src="https://p4.wallpaperbetter.com/wallpaper/635/605/180/roses-flowers-pot-petals-wallpaper-preview.jpg"
        alt="Gallery Img1" class="gallery-img-1" /><img
        src="https://p4.wallpaperbetter.com/wallpaper/647/896/861/cacti-decoration-flora-houseplants-wallpaper-preview.jpg"
        alt="Gallery Img2" class="gallery-img-2" /><img
        src="https://p4.wallpaperbetter.com/wallpaper/601/316/1005/cacti-flowers-bloom-pots-wallpaper-preview.jpg"
        alt="Gallery Img3" class="gallery-img-3" /><img
        src="https://p4.wallpaperbetter.com/wallpaper/502/669/216/succulent-plant-flowers-pot-houseplant-wallpaper-preview.jpg"
        alt="Gallery Img4" class="galerry-img-4" /><img
        src="https://p4.wallpaperbetter.com/wallpaper/947/290/522/5bd01a222be39-wallpaper-preview.jpg"
        alt="Gallery Img5" class="gallery-img-5" />
</section>




<footer>

    <div class="footer-content">
        <h3>HomeGardenPro</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sed reiciendis exercitationem eius
        </p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>

    <div class="footer-bottom">
        <p>copyright &copy;2023 HomeGardenPro</p>
    </div>

</footer>