<div class="container">
    <div class="form-box">
        <form action="/signIn" method="POST">
            <div class="header-text">Iniciar Sesión</div>
            <input placeholder="Correo Electronico" type="text" name="email">
            <input placeholder="Contraseña" type="password" name="password">
            <button>Aceptar</button>
            <span><a href="register.html">Registrarse</a></span>
        </form>
    </div>
</div>