{{>navbar}}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 col-lg-4"><img
                src="https://mir-s3-cdn-cf.behance.net/projects/404/a2d1dd84989003.Y3JvcCw1NjksNDQ1LDM2MywxNzQ.png">
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display-5">Javier González <i class="fa-solid fa-pen-to-square"
                            style="font-size: 30px;"></i></h3><i class="fa fa-facebook"></i><i
                        class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i
                        class="fa fa-linkedin"></i>
                </div>
                <div class="p-3 bg-black text-white">
                    <h6>Amante de los Cactus y las Suculentas</h6>
                </div>
                <div class="d-flex flex-column text-white" style="background-color: #034001;">
                    <div style="padding: 5px;">
                        <h4>Correo: javier@mail.cl <i class="fa-solid fa-pen-to-square" style="font-size: 20px;"></i>
                        </h4>
                    </div>
                    <div style="padding: 5px;">
                        <h4>Contraseña: *********** <i class="fa-solid fa-pen-to-square" style="font-size: 20px;"></i>
                        </h4>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <h1 class="title">Mis Productos</h1>

    <div class="row mt-5" style="height: 200px;">
        <div class="cardzz col mx-4" style="max-width: 300px; border-radius: 20px;">
            <h1>Producto 1</h1>
            <h4>Id: 123124</h4>
        </div>
        <div class="cardzz col mx-4" style="max-width: 300px; border-radius: 20px;">
            <h1>Planta 1</h1>
        </div>
        <div class="cardzz col mx-4" style="max-width: 300px; border-radius: 20px;">
            <h1>Planta 1</h1>
        </div>
        <div class="cardzz col mx-4" style="max-width: 300px; border-radius: 20px;">
            <h1>Planta 1</h1>
        </div>

    </div>
</div>